<div class="container pt-3">
  <%= render 'partials/messages' %>
  <div>
    <h1 class="text-center">Ads List</h1>
    <div>
            <%= will_paginate %>
    </div>
      <%= render 'widgets/widgets', obj: @widgets %>
  </div>
</div>