<div class="container">
  <h1 class="text-center m-5">New Ad</h1>
<%= render 'form', widget: @widget %>
<div class="d-flex justify-content-center">
<%= link_to 'Back', widgets_path %>
  </div>

</div>
