<div class="jumbotron text-center">
  <h1 class="display-4">AdLogic</h1>
  <p class="lead">This is a simple tool to build Facebook ad previews.</p>
  <hr class="my-4">

  <a class="btn btn-primary btn-lg" href="#" role="button">Create Ad</a>
</div>