.viewbody {
	background: #e9ebee;
	color: #1d2129;
}

.white {
	background: #fff;
}

.ad-border {
	border: solid 1px #ccc;
}

.background-light {
	background: #f2f3f5;
}

.caption {
	color: #797979;
	font-size: 12px;
	padding-top: 5px;
}

.uppercase {
	text-transform: uppercase;
}

.brand-image {
	width: 60px;
	border-radius: 50%;
}

.brand-name {
	color: #365899;
	font-weight: 600;
}

.sponsored-text {
	color: #616770;
	font-size: 12px;
}

.headline {
	font-size: 1.5rem;
	font-family: inherit;
	font-weight: 500;
	color: inherit;
}

.description {
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 40ch;
}

@media only screen and (max-width: 576px) {
	.description {
		max-width: 30ch;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.description {
		max-width: 70ch;
	}
}

@media only screen and (min-width: 1200px) {
	.description {
		max-width: 53ch;
	}
}

code {
	background: #ffe6ea;
	padding: 4px;
	word-break: normal !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}